<h1>MONKEYS!</h1>

<p>Now you see me. Refresh this page and you won't!</p>

<p>MONKEY_ONE constant is defined in <strong>config/initializers/extensions.rb</strong></p>

<p><%= MONKEY_ONE > @monkey_two %></p>